bin
.cache
include/C.def
include/C-parenthesize.str
include/C-Permissive.def
include/C.generated.pp.af
include/C.packed.esv
include/C.pp.af
include/C.rtg
include/C.str
include/C.tbl
include/c.rtree
include/c.ctree
include/c.ctree.dep
include/c.jar
include/c-java.jar
editor/java/trans
editor/C-*.generated.esv
syntax/C*.generated.esv
syntax/C.generated.pp
.settings/org.eclipse.jdt.core.prefs
utils
lib/*.generated.str
lib-refactoring/*.generated.str
