<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="c" description="C" language="C" derivedFrom="DynamicRoot" validator="org.metaborg.lang.c.CValidator" validatorClass="org.metaborg.lang.c.CValidator"></language>
       </extension>
       <extension id="org.metaborg.lang.c.parser" name="C Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="org.metaborg.lang.c.CParseController" language="C">
          </parser>
       </extension>    
    </plugin>