templates

	PrimExp.Id          = <<Id>>
	PrimExp             = <<Constant>>
	PrimExp.StringConst = <<StringConst>>
	PrimExp             = <(<Exp>)> {bracket}
	PrimExp             = <<GenSelect>>
	
	GenSelect.GenSelect = <_Generic(<AssignExp>, <GenAssoc+; separator=", ">)>
	
	GenAssoc.GenTypeAssoc    = <<TypeName> : <AssignExp>>
	GenAssoc.GenDefaultAssoc = <default : <AssignExp>>
	
	PostfixExp             = <<PrimExp>>
	PostfixExp.ArrayAccess = <<PostfixExp>[<Exp>]>
	PostfixExp.Call        = <<PostfixExp>(<ArgExp*; separator=", ">)>
	PostfixExp.Access      = <<PostfixExp>.Id>
	PostfixExp.PtrAccess   = <<PostfixExp>-\>Id>
	PostfixExp.PostInc     = <<PostfixExp>++>
	PostfixExp.PostDec     = <<PostfixExp>-->
	
	UnaryExp            = <<PostfixExp>>
	UnaryExp.PreInc     = <++<UnaryExp>>
	UnaryExp.PreDec     = <--<UnaryExp>>
	UnaryExp.UnaryOp    = <<UnaryOp><CastExp>>
	UnaryExp.ExpSizeof  = <sizeof<UnaryExp>>
	UnaryExp.TypeSizeof = <sizeof(<TypeName>)>
	UnaryExp.Alignof    = <_Alignof(<TypeName>)>

	UnaryOp.Ref   = <&>
	UnaryOp.Deref = <*>
	UnaryOp.Pos   = <+>
	UnaryOp.Neg   = <->
	UnaryOp.BNot  = <~>
	UnaryOp.LNot  = <~>
	
	CastExp      = <<UnaryExp>>
	CastExp.Cast = <(<TypeName>)<CastExp>>
	
	MulExp       = <<CastExp>>
	MulExp.BinOp = <<MulExp> <MulOp> <CastExp>>
	
	MulOp.Mul = <*>
	MulOp.Div = </>
	MulOp.Mod = <%>
	
	AddExp       = <<MulExp>>
	AddExp.BinOp = <<AddExp> <AddOp> <MulExp>>
	
	AddOp.Add = <+>
	AddOp.Sub = <->
	
	ShiftExp       = <<AddExp>>
	ShiftExp.BinOp = <<ShiftExp> <ShiftOp> <AddExp>>
	
	ShiftOp.LShift = <\<\<>
	ShiftOp.RShift = <\>\>>
	
	RelExp       = <<ShiftExp>>
	RelExp.BinOp = <<RelExp> <RelOp> <ShiftExp>>
	
	RelOp.Lt  = <\<>
	RelOp.Gt  = <\>>
	RelOp.Lte = <\<=>
	RelOp.Gte = <\>=>
	
	EqExp       = <<RelExp>>
	EqExp.BinOp = <<EqExp> <EqOp> <RelExp>>
	
	EqOp.Eq  = <==>
	EqOp.Neq = <!=>
	
	BAndExp       = <<EqExp>>
	BAndExp.BinOp = <<AndExp> <BAndOp> <EqExp>>
	
	BAndOp.BAnd = <&>
	
	BXorExp       = <<BAndExp>>
	BXorExp.BinOp = <<BXorExp> <BXorOp> <BAndExp>>
	
	BXorOp.BXor = <^>
	
	BOrExp       = <<BXorOp>>
	BOrExp.BinOp = <<BOrExp> <BOrOp> <BXorOp>>
	
	BOrOp.BOr = <|>
	
	LAndExp       = <<BOrOp>>
	LAndExp.BinOp = <<LAndExp> <LAndOp> <BOrOp>>
	
	LAndOp.LAnd = <&&>
	
	LOrExp       = <<LAndOp>>
	LOrExp.BinOp = <<LOrExp> <LOrOp> <LAndOp>>
	
	LOrOp.LOr = <||>
	
	CondExp       = <<LOrExp>>
	CondExp.IfExp = <<LOrExp> ? <Exp> : <CondExp>>
	
	AssignExp          = <<CondExp>>
	AssignExp.AssignOp = <<UnaryExp> <AssignOp> <AssignExp>>
	
	AssignOp.Eq     = <=>
	AssignOp.Mul    = <*=>
	AssignOp.Div    = </=>
	AssignOp.Mod    = <%=>
	AssignOp.Add    = <+=>
	AssignOp.Sub    = <-=>
	AssignOp.LShift = <\<\<=>
	AssignOp.RShift = <\>\>=>
	AssignOp.BAnd   = <&=>
	AssignOp.BXor   = <^=>
	AssignOp.BOr    = <|=>

	Exp           = <<AssignExp>>
	Exp.AssignExp = <<Exp+; separator=", ">>
	
	ConstExp = <<CondExp>>