lexical syntax // Layout & Comments

	[\ \t\n\r\12]                   -> LAYOUT
	"/*" ( ~[\*] | Asterisk )* "*/" -> Comment
	Comment                         -> LAYOUT
	[\*]                            -> Asterisk
	"//" ~[\n]* [\n]                -> Comment
	[\,]                            -> Comma
	
	-> EOF

lexical restrictions

	Asterisk -/- [\/]
	EOF      -/- ~[]

context-free restrictions
  
	LAYOUT? -/- [\ \t\n\r\12]
	LAYOUT? -/- [\/].[\/]
	LAYOUT? -/- [\/].[\*]
	
	
lexical syntax // Identifiers

	([a-zA-Z\_]|UniCharName) ([a-zA-Z\_0-9]|UniCharName)* -> Id
	Keyword                                               -> Id {reject}
	
lexical restrictions
  
	Id -/- [a-zA-Z\_0-9]


lexical syntax // Universal character names

	"\\u" HexQuad                       -> UniCharName
	"\\U" HexQuad HexQuad               -> UniCharName
	
	HexDigit HexDigit HexDigit HexDigit -> HexQuad
	
templates // Constants

	Constant.CharConst   = <<CharConst>>
	Constant.IntConst    = <<IntConst>>
	Constant.OctConst    = <<OctConst>>
	Constant.HexConst    = <<HexConst>>
	Constant.FloatConst  = <<FloatConst>>
	Constant.StringConst = <<StringConst>>

lexical syntax // Integer constant

	// TODO: IntSuffix should be in AST.
	NonzeroDigit Digit* IntSuffix? -> IntConst
	Zero IntSuffix?                -> IntConst
	
	UnsingedSuffix LongSuffix?    -> IntSuffix
	UnsignedSuffix LongLongSuffix -> IntSuffix
	LongSuffix UnsigedSuffix?     -> IntSuffix
	LongLongSuffix UnsigedSuffix? -> IntSuffix
	
	[uU] -> UnsignedSuffix
	[lL] -> LongSuffix
	"ll" -> LongLongSuffix
	"LL" -> LongLongSuffix
	
	DigitSeq? "." DigitSeq -> FracConst
	DigitSeq "."           -> FracConst
	
	[0-9] -> Digit
	[1-9] -> NonzeroDigit
	[0]   -> Zero
	
	Digit+ -> DigitSeq
	
lexical restrictions

	IntConst -/- [0-9UuLl]

	
lexical syntax // Octal constant

	[0] [0-7]+ -> OctConst
	
lexical restrictions

	OctConst   -/- [0-9a-zA-F]

	
lexical syntax // Hexadecimal constants

	"0" [Xx] HexDigit -> HexConst
	HexConst HexDigit  -> HexConst
	
	HexDigitSeq? "." HexDigitSeq -> HexFracConst
	HexDigitSeq "."              -> HexFracConst
	
	// TODO: Sign should be in AST.
	BinExponent Sign? DigitSeq -> BinExpPart
	
	[\+\-] -> Sign
	[pP]   -> BinExponent
	
	[0-9a-fA-F] -> HexDigit
	
	HexDigit+ -> HexDigitSeq


lexical syntax // Float constants

	DecFloatConst -> FloatConst
	HexFloatConst -> FloatConst
	
	// TODO: ExpPart & FloatSuffix should be in AST.
	FracConst ExpPart? FloatSuffix? -> DecFloatConst
	DigitSeq ExpPart FloatSuffix?   -> DecFloatConst
	
	// TODO: Sign should be in AST.
	Exponent Sign? DigitSeq -> ExpPart
	
	[eE]   -> Exponent
	
	// TODO: BinExpPart & FloatSuffix should be in AST.
	HexPrefix HexFracConst BinExpPart FloatSuffix? -> HexFloatConst
	HexPrefix HexDigitSeq BinExpPart FloatSuffix?  -> HexFloatConst
	
	[flFL] -> FloatSuffix

lexical syntax // Escape sequences
	
	SimpleEscSeq -> EscSeq
	OctEscSeq    -> EscSeq
	HexEscSeq    -> EscSeq
	UniCharName  -> EscSeq
	
	[\\\'\\\"\\\?\\\\\\a\\b\\f\\n\\r\\t\\v] -> SimpleEscSeq
	
	"\\" OctDigit OctDigit? OctDigit? -> OctEscSeq
	
	"\\x" HexDigit+ -> HexEscSeq


lexical syntax // Character constant
	
	// TODO: CharPrefix should be in AST.
	[LuU]? "'" Char+ "'" -> CharConst
	
	~[\\\'\n] -> Char
	EscSeq    -> Char


lexical syntax // String constant

	// TODO: EncPrefix should be in AST.
	EncPrefix? "\"" SChar* "\"" -> StringConst
	
	"u8"  -> EncPrefix
	[uUL] -> EncPrefix
	
	~[\\\"\n] -> SChar
	EscSeq    -> SChar
	